
<div *ngIf="!vimeoItems.length">
	No folder or video found. ()
</div>

<div class="folders">
	<div class="folder-items" *ngFor="let item of vimeoItems"
		(click)="item.type=='video' ? setVideoPath(item) : setFolderPath(item)">
		<div [title]="item.folder?.name" class="folder" *ngIf="item.type == 'folder'">
			<span>
				{{item.folder?.name}}
			</span>
		</div>
		<div [title]="item.video?.name" class="video" *ngIf="item.type == 'video'"
			[ngStyle]="{backgroundImage: backgroundImg(item?.video)}">
			<div class="overlay">
				<div>
					<span>
						{{item.video?.name}}
					</span>
				</div>
			</div>
		</div>
	</div>
</div>