<div class="path">
	/
	<span class="folder-name" *ngFor="let path of folderPath; let i = index;">
		<span>
			<span class="prefix" *ngIf="i > 0"> / </span>
			{{path.name}}
		</span>
	</span>
	<span *ngIf="folderPath.length">/</span>
</div>

<div class="folders" *ngIf="currentView == 'folder'">
	<div class="folder-items" *ngFor="let item of foldersModel"
		(click)="item.type=='video' ? setVideoPath(item) : setFolderPath(item)">
		<div [title]="item.folder?.name" class="folder" *ngIf="item.type == 'folder'">
			<span>
				{{item.folder?.name}}
			</span>
		</div>
		<div [title]="item.video?.name" class="video" *ngIf="item.type == 'video'"
			[ngStyle]="{backgroundImage: backgroundImg(item?.video)}">
			<div class="overlay">
				<div>
					<span>
						{{item.video?.name}}
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- <div *ngIf="currentView == 'video'">
	<app-vimeo-video-player [videoData]="currentVideo"></app-vimeo-video-player>
</div> -->