.nav {
	display: flex;
	flex-flow: row;
	gap: 10px;
	margin-bottom: 20px;
	.nav-item {
		a {
			padding: 10px 30px;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 1px solid gray;
			transition: 0.3s;
			text-decoration: none;
			span {
				display: inline-block;
			}

			&:hover {
				background: gray;
				color: white;
			}
		}
	}
}