@mixin center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.parent {
	width: 100vw;
	height: 100vh;
	@include center;

	form {
		min-width: 300px;
		display: flex;
		flex-flow: column;

		input, button {
			margin: 10px 0;
		}

		input {
			padding: 10px;

			&[type='button'] {
				width: 50%;
			}
		}

		.action {
			@include center;
			button {
				padding: 8px 20px;
				border-radius: 5px;
				border: 1px solid black;
			}
		}
	}
}

input {
	width: 100%;
}