<form #form="ngForm" [class.non-editable]="!isEditing" (keydown.enter)="update(form)">
	<div class="actions">
		<app-table-actions (onDelete)="delete($event)" (onUpdate)="toggleEdit()" (onSave)="update(form)"
			[isEditing]="isEditing" [data]="todo"></app-table-actions>
	</div>
	<div class="data">
		<div class="item" [title]="todo.todo">
			<div class="label">
				<label>Todo</label>
			</div>
			<div class="value">
				<app-validation-message *ngIf="isEditing; else todoname;">
					<input #inputelement type="text" placeholder="todo" [(ngModel)]="todo.todo" name="todo" appInput required>
				</app-validation-message>
				<ng-template #todoname>
					<span class="placeholder" (click)="toggleEdit()">
						{{todo.todo || 'n/a'}}
					</span>
				</ng-template>
			</div>
		</div>
		<div class="item">
			<div class="label">
				<label>Status</label>
			</div>
			<div class="value">
				<app-validation-message *ngIf="isEditing; else statusvalue;">
					<app-select [(ngModel)]="todo.status" name="todo-status" [dataItems]="todoOptions" keyName="status" valueName="status" label="Todo Status"></app-select>
				</app-validation-message>
				<ng-template #statusvalue>
					<span class="placeholder" (click)="toggleEdit()">
						{{todo.status || 'n/a'}}
					</span>
				</ng-template>
			</div>
		</div>
		<div class="item">
			<div class="label">
				<label>Category</label>
			</div>
			<div class="value">
				<app-validation-message *ngIf="isEditing; else statusvalue;">
					<app-select [(ngModel)]="todo.status" name="todo-status" [dataItems]="todoOptions" keyName="status" valueName="status" label="Todo Status"></app-select>
				</app-validation-message>
				<ng-template #statusvalue>
					<span class="placeholder" (click)="toggleEdit()">
						{{todo.status || 'n/a'}}
					</span>
				</ng-template>
			</div>
		</div>
	</div>
</form>