form {
	display: flex;
	// background: rgba(205, 205, 205, 0.805);
	margin: 2px;
	gap: 10px;
	align-items: center;

	.data {
		display: flex;

		.item {
			display: flex;
			align-items: center;

			.value {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			input,
			select {
				border: none;
				border-bottom: 1px solid black;
				padding: 10px;
				outline: none;
				background: transparent;
			}

			select option {
				padding: 8px;
				background-color: #fff;
				color: #333;
				border-radius: 0;
			}

			select option:checked {
				background-color: #007bff;
				color: #fff;
			}

			>div {
				margin: 5px;

				>* {
					margin: 5px;
				}
			}
		}
	}
}

form.non-editable {
	label {
		color: gray;

		&:after {
			content: ':'
		}
	}

	>div {
		display: flex;
		justify-content: center;
	}

	.placeholder {
		width: 200px;
		display: inline-block;
		overflow: hidden;
	}
}

mat-icon {
	display: inline-block;
	border: 1px solid gray;
	color: gray;
	border-radius: 100px;
	padding: 0px;
	transition: 0.3s;
	cursor: pointer;
	height: 1.2em;
	width: 1.2em;
	padding: 2px;

	&:hover {
		padding: 3px;
		background: black;
		color: white;
	}
}