.input {
	display: flex;
	width: 70%;
	gap: 10px;
	align-items: center;
	.field {
		flex: 1;
		display: flex;
		flex-flow: column;
		input {
			padding: 10px;
			outline: none;
			font-size: 1.2em;
			border: 1px solid gray;
			border-radius: 10px;
			width: 100%;
		}
		span {
			padding: 5px 10px;
			color: maroon;
		}
	}
}