<h3>Todos</h3>
<div class="actions head-actions">
	<div>
		<strong>Actions: </strong>
	</div>
	<div>
		<span (click)="editTodos()" class="actionButton fl-jus-cen">Toggle Edit&nbsp;<mat-icon class="toggle-status"
				*ngIf="editMode$.value; else uncheck;">radio_button_checked</mat-icon>
		</span>
	</div>
	<div>
		<span (click)="toggleAllStatusTodoFilter()" class="actionButton fl-jus-cen">Show All Status&nbsp;<mat-icon
				class="toggle-status" *ngIf="allStatusTodoFilter; else uncheck;">radio_button_checked</mat-icon>
		</span>
	</div>
	<div>
		<mat-form-field>
			<mat-label>Todo Status</mat-label>
			<mat-select [(ngModel)]="filter.showStatus" multiple>
				<mat-option *ngFor="let todo of todoStatusList" [value]="todo.value">{{todo.key | properHeading}}</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<div>
		<mat-form-field>
			<mat-label>Category</mat-label>
			<mat-select>
				<mat-option>-- None --</mat-option>
				<mat-optgroup *ngFor="let group of categories.data" [label]="group.name">
					<mat-option *ngFor="let child of group.child_categories" [value]="child._id">
						{{child.name}}
					</mat-option>
				</mat-optgroup>
			</mat-select>
		</mat-form-field>
	</div>

</div>
<div class="parent">
	<div class="form1">

		<form (submit)="submit(form)" #form="ngForm">
			<div class="actions">
				<button (click)="addTodo($event)" class="actionButton">Add Todo</button>
				<button type="submit" class="actionButton" *ngIf="showAddButton">Save</button>
			</div>
			<div class="todolist" cdkDropList (cdkDropListDropped)="todoDragDrop($event)">
				<div cdkDrag *ngFor="let todo of model.data; let i = index;">
					<app-validation-message class="todo-item">
						<div class="drag-placeholder" *cdkDragPlaceholder>Drop Here ...</div>
						<app-todo appInput #todoItem ngModel name="todoComponent" [todo]="todo" (onDelete)="deleteTodo(i, todo)"
							(onValueChange)="todoDataChange($event, i)"></app-todo>
					</app-validation-message>
				</div>
			</div>
		</form>
	</div>
</div>




<ng-template #uncheck>
	<mat-icon class="toggle-status">radio_button_unchecked</mat-icon>
</ng-template>