.actions {
	display: flex;
	align-items: baseline;
	gap: 10px;
	flex-wrap: wrap;
	>div {
		padding: 10px;
		display: flex;
		gap: 20px;
	
		// justify-content: right;
		>.actionButton {
			color: gray;
			cursor: pointer;
	
			&:hover {
				color: black;
			}
		}
	
		.actionButton {
			mat-icon {
				font-size: 16px;
				padding-top: 2px;
				text-decoration: none;
			}
		}
	}
}


.drag-placeholder {
	border: 1px dashed gray;
	padding: 10px;
	color: gray;
}
.parent {
	.todo-item {
		display: block;
		transition: 0.3s;
		border-radius: 10px;
		background: rgba(255, 255, 255, 0.438);
		cursor: pointer;
		&:hover {
			// box-shadow: 0 0 10px rgba(255, 255, 255, 0.501) inset;
			background: white;
		}
	}
}
