@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";


input.round {
	&:not([type='button']):not([type='submit']) {
		border-radius: 10px;
		border: 1px solid black;
	}

	&.error {
		border: 1px solid red;
		box-shadow: 0 0 4px red;
	}
}

@mixin center {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

* {
	box-sizing: border-box;
	// font-family: 'Fasthand', cursive;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}


body {
	margin: 0;
	// font-family: 'Poppins', sans-serif;

	// width: 100vw;
	// height: 100vh;
	// overflow: hidden;
	// @include center;
}

.center {
	@include center;
}

.error {
	border: 1px solid red;
	box-shadow: 0 4px red;

}


.fl-jus-cen {
	display: flex;
	justify-content: center;
}

button {
	border: 1px solid gray;
	background: rgba(128, 128, 128, 0.244);
	padding: 10px;
	transition: 0.2s;

	&:hover {
		background: gray;
		color: white !important;
	}

	&:active {
		background: rgba(145, 63, 63, 0.799);
		color: white !important;
	}
}

input.ng-invalid {
	filter: drop-shadow(2px 4px 6px red);
	&::placeholder {
		color: red !important;
	}
	border-color: red !important;
	// border: 1px solid red;
}