input {
	&:not([type='button']):not([type='submit']) {
		border-radius: 10px;
		border: 1px solid black;
	}
	&.error {
		border: 1px solid red;
		box-shadow: 0 0 4px red;
	}
}

@mixin center {
	display: flex;
	justify-content: center;
	align-items: center;
}


body {
	margin: 0;
	// font-family: 'Poppins', sans-serif;
	font-family: 'Fasthand', cursive;
	
	width: 100vw;
	height: 100vh;
	@include center;
}