form {
	border: 1px solid red;
	display: flex;
	margin: 2px;
	gap: 10px;
	align-items: center;

	input,
	select {
		border: none;
		border-bottom: 1px solid black;
		padding: 10px;
		outline: none;
	}

	select option {
		padding: 8px;
		background-color: #fff;
		color: #333;
		border-radius: 0;
	}

	select option:checked {
		background-color: #007bff;
		color: #fff;
	}

	>div {
		margin: 5px;

		>* {
			margin: 5px;
		}
	}
}