
<form #form="ngForm">
	<div>
		<label>Todo</label>
		<app-validation-message>
			<input #inputelement type="text" placeholder="todo" [(ngModel)]="todo.todo" name="todo" appInput required>
		</app-validation-message>
	</div>
	<div>
		<label>Status</label>
		<app-validation-message>
			<select #inputelement [(ngModel)]="todo.status" name="status" required>
				<ng-container *ngFor="let option of todoOptions">
					<option [value]="option.status">{{option.status}}</option>
				</ng-container>
			</select>
		</app-validation-message>
	</div>
	<div>
		<button (click)="delete()">delete</button>
	</div>
</form>